<div ng-controller="AppCtrl" layout="column" layout-padding ng-cloak>
	<form name="form">
	<div ng-if="tag" ng-controller="EmpCtrl">
  	<p>This form has already been entered</p>
		<p>This is the data you have enetred</p>
		<table class="table">
			<tr>
		    <th>ProjectId</th>
		    <th>Name Owner</th>
		    <th>Title/Role</th>
		    <th>Business Unit</th>
		    <th>Dept.ID / Cost Center</th>
		    <th>Application / Service Name</th>
		    <th>Application Short Name</th>
		    <th>Application CMDB ID</th>
		    <th>Application Tier</th>
		    <th>Hosted Environment</th>
		  </tr>
			<tr ng-repeat="g in gen">
				<td>{{g.projectId}}</td>
				<td>{{g.name}}</td>
				<td>{{g.title}}</td>
				<td>{{g.bu}}</td>
				<td>{{g.deptId}}</td>
				<td>{{g.app_name}}</td>
				<td>{{g.app_sname}}</td>
				<td>{{g.cmdb}}</td>
				<td>{{g.tier}}</td>
				<td>{{g.env}}</td>
			</tr>
		</table>
  </div>

	<div ng-if="!tag" ng-controller="AppCtrl">
	<h3>Contact Information</h3>

  <br/>
  <md-content class="md-no-momentum">
    <md-input-container class="md-icon-float md-block">
      <!-- Use floating label instead of placeholder -->
      <label>Name owner</label>
      <!--md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon-->
      <input ng-model="contact.name" type="text" ng-required="true">
    </md-input-container>

    <md-input-container class="md-icon-float md-block">
			<label>Title / Role</label>
      <!--md-icon md-svg-src="img/icons/ic_phone_24px.svg"></md-icon-->
      <input ng-model="contact.title" type="text" ng-required="true">
    </md-input-container>

    <md-input-container  class="md-icon-float md-block">
			<label>Business Unit</label>
      <!-- Use floating placeholder instead of label -->
      <!--md-icon md-svg-src="img/icons/ic_email_24px.svg" class="email"></md-icon-->
      <input ng-model="contact.bu" type="text"  ng-required="true">
    </md-input-container>

    <md-input-container  class="md-icon-float md-block">
			<label>Dept.ID / Cost Center</label>
      <input ng-model="contact.deptId" type="text"  ng-required="true" >
      <!--md-icon md-svg-src="img/icons/ic_place_24px.svg" style="display:inline-block;"></md-icon-->
    </md-input-container>
	</md-content>

	<h3>Application /  Service Information</h3>
	<br/>

	<md-content>
		<md-input-container class="md-icon-float md-block">
      <label>Application / Service Name</label>
      <!--md-icon md-svg-src="img/icons/ic_card_giftcard_24px.svg"></md-icon-->
      <input ng-model="app.name" type="text" ng-required="true">
      <!--md-icon md-svg-src="img/icons/ic_euro_24px.svg"></md-icon-->
    </md-input-container>
		<md-input-container  class="md-icon-float md-block">
			<label>Application Short Name</label>
      <input ng-model="app.sname" type="text"  ng-required="true" >
      <!--md-icon md-svg-src="img/icons/ic_place_24px.svg" style="display:inline-block;"></md-icon-->
    </md-input-container>
		<md-input-container  class="md-icon-float md-block">
			<label>Application CMDB ID</label>
      <input ng-model="app.id" type="text"  ng-required="true" >
      <!--md-icon md-svg-src="img/icons/ic_place_24px.svg" style="display:inline-block;"></md-icon-->
    </md-input-container>
		<md-input-container>
			<label>Application Tier</label>
			<md-select ng-model="app.tier" ng-required="true">
				<md-option value="critical" >Critical</md-option>
				<md-option value="essential">Essential</md-option>
				<md-option value="foundational">Foundational</md-option>
				<md-option value="utility">Utility</md-option>
      </md-select>
		</md-input-container>
		<br/>
		<md-input-container>
			<label>Hosted Environment</label>
			<md-select ng-model="app.env" ng-required="true">
				<md-option value="AWS Cloud">AWS Cloud</md-option>
				<md-option value="CCP Cloud">CCP Cloud</md-option>
				<md-option value="On Premise">On Premise</md-option>
      </md-select>
		</md-input-container>
  </md-content>
	<div style="text-align:center">
			<div ng-if="isDisabled">
        <strong>Your Form has been submitted. Please proceed further.</strong>
    </div>
    <md-button class="md-raised md-primary" ng-click="gen()" ng-disabled="form.$invalid || isDisabled" >Submit</md-button>
		<md-button class="md-raised md-primary" ng-click="edit()" ng-disabled="form.$pristine || form.$invalid || !isDisabled" >Edit</md-button>
	</div>

</div>
</form>
</div>
