<div class="cont">
  <h1 style="text-align: center">Web App Basic Monitoring Page</h1>
  <!-- h4>{{gen}}</h4 -->
<table class="contTable" align="center">
  <tr>
    <th>ProjectID</th>
    <th>Web URL</th>
    <th>SOAP Monitor</th>
    <th>SSL Certificate Monitor</th>
  </tr>
	<tr ng-repeat="g in web" ng-include="getweb(g)">
	</tr>
</table>

<script type="text/ng-template" id="display">
	<td>{{g.projectId}}</td>
	<td>{{g.wurl}}</td>
	<td>{{g.soapm}}</td>
	<td>{{g.sslcm}}</td>
	<td>
		<md-button class="md-raised md-primary" ng-click="editweb(g)">EDIT</md-button>
	</td>
</script>
<script type="text/ng-template" id="edit">
	<td><input type="text" ng-model="selected_web.projectId" /></td>
	<td><input type="text" ng-model="selected_web.wurl" /></td>
    <td><input type="text" ng-model="selected_web.soapm" /></td>
    <td><input type="text" ng-model="selected_web.sslcm" /></td>
    <td>
        <md-button class="md-raised md-primary" ng-click="saveweb($index)">Save</md-button>>
        <md-button class="md-raised md-primary" ng-click="resetweb()">Cancel</md-button>>
    </td>
</script>
</div>
